<pre class="command-line language-{{ if .Get "lang" }}{{ .Get "lang" }}{{ else }}bash{{ end }}"
  {{ if .Get "prompt" }}
     data-prompt="{{ .Get "prompt" }}"
  {{ else }}
    data-user="{{ if .Get "user" }}{{ .Get "user" }}{{ else }}user{{ end }}"
    data-host="{{ if .Get "host" }}{{ .Get "host" }}{{ else }}localhost{{ end }}"
  {{ end }}
  {{ if .Get "output" }}data-output="{{ .Get "output" }}"{{ end }}
  {{ if .Get "highlight" }}data-line="{{ .Get "highlight" }}"{{ end }} >
<code>{{ trim .Inner "\n" }}</code>
</pre>
